In [1]:
a= ['1', '13b', 'aa1', 1.32,22.1, 2.34]

#ngambil komponen 1 sampe sebelum 5
#slicing list

a[1:5]

['13b', 'aa1', 1.32, 22.1]

In [5]:
#nested list

a = [1.32,22.1, 2.34]
b = ['1', '13b', 'aa1']
c = [3, 40, 100]
#combine list

d = [a, b, c]
d

[[1.32, 22.1, 2.34], ['1', '13b', 'aa1'], [3, 40, 100]]

In [6]:
#akses nested list
a = [
    [5,9,8],
    [0,0,6]
    ]
#subsetting list
a[1][1:] #baris 2, kolom ke 2 sampe terakhir

[0, 6]

In [7]:
a[0]

[5, 9, 8]

In [8]:
a[0][2]

8

In [9]:
#built in function list

p = [0,5,2,10,4,9]

print(sorted(p, reverse=False))
print(min(p)) #bisa max

[0, 2, 4, 5, 9, 10]
0

In [10]:
print(sorted(p, reverse=True))

[10, 9, 5, 4, 2, 0]

In [11]:
#list operation
a = [1,3,5]
b = [5,1,3]
b+a

[5, 1, 3, 1, 3, 5]

In [13]:
#List Manipulation
a =[
    [5,9,8],
    [0,0,6]
    ]
a[0][2]=10
a[1][0]=11
print(a)

[[5, 9, 10], [11, 0, 6]]

In [15]:
#list comprehension
#mencsri yang genap

s = [0,1,4,9,16,25,36,49,64,81]
t = [i for i in s if i%2==0]

print(t)

obj_list = [1, 2, 4, 6, 2, 1, 4, 5, 7, 8, 6] 

#solusi tanpa menggunakan set
def remove_duplicate(obj_list):
    new_list = []
    for i in obj_list:
        new_list.append(i)
    return new_list

#solusi dengan menggunakan set
def remove_duplicate_with_set(obj_list):
    new_list = list(set(obj_list))
    return new_list


print(remove_duplicate(obj_list))
print(remove_duplicate_with_set(obj_list))

[0, 4, 16, 36, 64]
[1, 2, 4, 6, 2, 1, 4, 5, 7, 8, 6]
[1, 2, 4, 5, 6, 7, 8]

In [16]:
#string
obj_list = ["1", "2", "4", "6", "2", "1", "4", "5", "7", "8", "6"]

#solusi tanpa menggunakan set
def remove_duplicate(obj_list):
    new_list = []
    for i in obj_list:
        new_list.append(i)
    return new_list

#solusi dengan menggunakan set
def remove_duplicate_with_set(obj_list):
    new_list = list(set(obj_list))
    return new_list


print(remove_duplicate(obj_list))
print(remove_duplicate_with_set(obj_list))

['1', '2', '4', '6', '2', '1', '4', '5', '7', '8', '6']
['6', '4', '2', '1', '5', '8', '7']

In [17]:
#string integer

#string
obj_list = ["1", "2", "4", "6", 2, "1", "4", "5", "7", "8", "6"]

#solusi tanpa menggunakan set
def remove_duplicate(obj_list):
    new_list = []
    for i in obj_list:
        new_list.append(i)
    return new_list

#solusi dengan menggunakan set
def remove_duplicate_with_set(obj_list):
    new_list = list(set(obj_list))
    return new_list


print(remove_duplicate(obj_list))
print(remove_duplicate_with_set(obj_list))

['1', '2', '4', '6', 2, '1', '4', '5', '7', '8', '6']
['6', 2, '4', '2', '1', '5', '8', '7']

In [19]:
#nested dictionary, ada key dan value

country = {
            'spain': {'capital':'madrid', 'population':46.77},
            'france':{'capital' : 'paris', 'population': 66.03},
            'germany':{'capital' : 'berlin', 'population': 80.02}
}

#brp populasi dr ibu kota german?
print(country['germany']['population'])

#update data baru, yaitunegara indonesia capital jakarta dan populasi 250
country['indonesia']={'capital':'jakarta', 'population':250}

print(country)

80.02
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.02}, 'indonesia': {'capital': 'jakarta', 'population': 250}}

In [ ]:
#